



/*For mobile phones: */
@media (max-width: 768px) {
    
}



header {
    background: url(img/img.jpg);
    background-size: cover;
    justify-content: space-evenly;
    

}

.products5 img {
    border-radius: 20%;
    
}

footer .list-group-item {
    background: none;
    border: none;

}
